---
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Ransom Williams</title>
    <!-- added initial-scale=1.  what does it do? -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/skeleton.css">
    <link rel="stylesheet" href="/styles/index.css">
    <!-- todo: does meta data help seo? do i care about seo? -->
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
