<!doctype html>
<html lang="en" class="ng-app">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<title>Angular Test</title>
		<link rel="stylesheet" href="css/app.css">
		<link rel="stylesheet" href="css/bootstrap.css">
	</head>
	<body ng-controller="InterestsCtrl">

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">
					<!--Sidebar content-->

					Search: <input ng-model="query">

				</div>
				<div class="span10">
					<!--Body content-->

					<ul>
						<li ng-repeat="interest in interests | filter:query">
							{{interest.name}}
						</li>
					</ul>

				</div>
			</div>
		</div>

		<script data-main="app/js/main"
						src="bower_components/requirejs/require.js"></script>
	</body>
</html>
