body {
    margin-top: 50px;
}

.contact {
    margin-bottom: 3em;
}

.list-item {
    margin: 1em;
}

.name {
    font-weight: bold;
}

.date {
    font-style: italic;
    /* float: right; */
}

.location {
    /* float: right; */
}

li {
    margin-bottom: .3em;
}