---
interface Props {
  title: string;
  description: string;
  link: string;
}

const { title, description, link } = Astro.props;
---

<article class="group relative flex flex-col items-start p-6 bg-white rounded-2xl shadow-sm border border-slate-100 transition">
  <h5 class="text-xl font-semibold text-slate-900">
    <span class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-slate-50 opacity-0 transition sm:-inset-x-6 sm:rounded-2xl"></span>
    <span class="relative z-10">{title}</span>
  </h5>
  <p class="relative z-10 mt-2 text-slate-600 font-portfolio-item"
     set:html={description}>

  </p>
  <a href={link} class="relative z-10 mt-4 flex items-center text-sm font-medium text-slate-400 hover:text-indigo-500">
    View on GitHub
  </a>
</article>
