---
// image imports from src/assets removed
---

<div id="container" class="container">
  <section class="intro">
    <h2 class="title">
      <span>
        Ransom
      </span>
      <span>
        Williams
      </span>
    </h2>
    <div class="row">
      <div class="two columns">
        &nbsp
      </div>
      <div class="eight columns">
        <p>
          I'm a developer that enjoys building useful products to make people's lives easier.
        </p>
        <p>
          Please see my
          <a href="media/resume/resume.pdf">resume</a>
          (also available in
          <a href="media/resume/resume.docx">docx</a>
          format)
          for background and contact information.
        </p>
        <p>
          In addition to code,
          I care about process, practices, and shipping a polished product.
          Do not hesitate to <a href="tel:601 316 2271">give me call</a>.
        </p>
      </div>
      <div class="two columns">
        &nbsp
      </div>
    </div>
  </section>
  <section class="portfolio">
    <div class="row">
      <h3>Portfolio</h3>
      <hr>
      <ul id="projects">

        <li id="botiful-soup">
          <h5>botiful-soup</h5>
          <div>
            <p>
              Naive NLP in Clojure.
            </p>
            <a href="http://github.com/ransomw/botiful-soup">github</a>
          </div>
        </li>

        <li id="contacts-store">
          <h5>contacts-store</h5>
          <div>
            <p>
              Simple address book with
              <a href="http://koajs.com/">
                koa</a>,
              <a href="http://bookshelfjs.org/">
                bookshelf</a>, and
              <a href="https://marionettejs.com/">
                marionette</a>.
            </p>
            <a href="http://github.com/ransomw/contacts-store">github</a>
          </div>
        </li>
        <li id="cljs-todos">
          <h5>cljs-todos</h5>
          <div>
            <p>
              Todos in
              <a href="https://github.com/clojure/clojurescript">clojurescript</a>
              with
              <a href="https://github.com/omcljs/om">Om</a>
              wrapping Facebook's
              <a href="http://facebook.github.io/react/">React</a>
              and
              <a href="http://hood.ie">hoodie</a>
              filling out a
              <a href="https://facebook.github.io/flux/docs/overview.html">Flux</a>
              -style frontend.
            </p>
            <a href="http://github.com/ransomw/cljs-todos">github</a>
          </div>
        </li>
        <li id="ltrack">
          <h5>ltrack</h5>
          <div>
            <p>
              The <i>l</i> is for <i>life</i>.
              It's a time and event-tracking app built with
              <a href="http://angularjs.org">angular</a>
              and
              <a href="http://hood.ie">hoodie</a>
              .
            </p>
            <a href="http://github.com/ransomw/ltrack">github</a>
          </div>
        </li>
        <li>
          <h5>CRUD catalog</h5>
          <div>
            <p>
              A reference web application built
              four times over:
              (1) on the
              <a href="http://flask.pocoo.org/">Flask</a>
              framework,
              (2) with a
              <a href="http://nodejs.org">node</a>
              backend and
              <a href="http://angularjs.org">angular</a>
              frontend,
              (3) on the
              <a href="http://www.djangoproject.com/">Django</a>
              framework, and
              (4) in
              <a href="http://go.dev/tour">golang</a>
            </p>
            <a href="http://github.com/ransomw/catalog-flask"
               >github (Flask)</a>
            <a href="http://github.com/ransomw/catalog-node"
               >github (Node)</a>
            <a href="http://github.com/ransomw/catalog-django"
               >github (Django)</a>
            <a href="http://github.com/ransomw/catalog-go"
               >github (golang)</a>

            <!-- <a href="http://192.241.218.140:5000">demo</a> -->
            <!-- <a href="http://192.241.218.140:3000">demo</a> -->
            <!-- <a href="http://192.241.218.140:8000">demo</a> -->
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>

<style>
</style>
