.intro {
    margin-top: 80px;
    margin-bottom: 30px;
}

.portfolio {
    margin-bottom: 40px;
}

.portfolio hr {
    margin-top: 0px;
}

.portfolio li p {
    margin-bottom: .7em;
}

.portfolio li {
    list-style-type: none;
    margin-bottom: 20px;
}

.portfolio li div {
    margin-left: 1em;
}

.intro p {
    font-size: 1.1em;
}

.intro .title {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
